.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

div.logo {
    float: left;
}

div.logo h1 {
    float: right;
    margin: auto;
    font-size: xx-large;
}

.headerright button, .headerright a {
    float: left;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    border-radius: 12px;
    background: green;
    text-decoration: none;
    color: white;
    border: solid darkgreen 1px;
}

.headerright button:hover, .headerright a:hover {
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.username {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-style: none;
}

.headerright {
    float: right;
}