div.userprofile
{
  margin: 1em;
}

div.userprofile button{
  float: left;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
  border-radius: 12px;
  background: green;
  text-decoration: none;
  color: white;
  border: solid darkgreen 1px;
}