body {
    font-family: Arial, Helvetica, sans-serif;
}

.notification {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notificationslist {
    background-color: rgba(255, 100, 100, 0.85);
    padding: 2px 10px;
    color: white;
    border-radius: 3;
}

.notification img.bell {
    width: 40px;
    height: 40px;
}

.notification img.bellfull {
    width: 40px;
    height: 40px;
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99;
}

.notification:hover .bellfull {
    display: inline;
    cursor: pointer;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.popoverbody {
    padding: 3px;;
    position: absolute;
    top: 20px;
    left: -150px;
    z-index: 1070;
    display: block;
    width: 180px;
    border: gray solid 1px;
    border-radius: 5px;
    font-size: .650em;
}

