body {
    font-family: Arial, Helvetica, sans-serif;
}

.notification {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification img.bell {
    width: 40px;
    height: 40px;
}

.notification img.bellfull {
    width: 40px;
    height: 40px;
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99;
}

.notification:hover .bellfull {
    display: inline;
    cursor: pointer;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}