.container{
  width: 200px;
  position: relative;
  text-align: center;
  color: white;
}

a{
  -webkit-text-stroke: 0.7px black;
  color: white;
  text-decoration: none;
}

.plantimage img{
  width: 200px;
  height: 150px;
  object-fit: cover;
}

div.centred{
  width: 100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba(140,140, 140, 0.6); 
  font-size: large;
  padding: 8%;
}

div.topright{
  position: absolute;
  top:3px;
  right:3px;
  /* background-color: rgba(140,140, 140, 0.6);  */
  font-size: x-small;
  padding: 2%;
  -webkit-text-stroke: 0.4px black;

}

